<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Back</h5>
                    <button mat-button (click)="backToList()" class=" btn btn-fill btn-danger" id="back"> Back
                    </button>
                </div>
                <div class=" card-body">
                    <form>
                        <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">
                                    <label>Email </label>
                                    <h3>{{contactUs.email}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-6">
                                <div class=" form-group">
                                    <label>Name: </label>
                                    <h3>{{contactUs.name}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-8">
                                <div class=" form-group">
                                    <label>Phone: </label>
                                    <h3>{{contactUs.phone}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-8">
                                <div class=" form-group">
                                    <label>Subject: </label>
                                    <h3>{{contactUs.Subject}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-8">
                                <div class=" form-group">
                                    <label>Message: </label>
                                    <h3>{{contactUs.message}}</h3>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>