
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header"><h5 class=" title">Edit Department</h5> </div>
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-6 pl-md-1">
                  <div class=" form-group">
                    <label>Name</label>
                    <input
                    [formControl]="name"
                      class=" form-control"
                      placeholder="Name"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill btn-danger"(click)="UpdateRole()" type="submit">save</button>
          </div>
        </div>
      </div>
    </div>
  </div>