
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>
    </div>
    <div class="container" >
      
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>{{contactUsInfoArr[0]?.location}}</p>
                    </div>

                    <div class="open-hours">
                        <i class="bi bi-clock"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            {{contactUsInfoArr[0]?.open_Days}}:<br> {{contactUsInfoArr[0]?.open_Hours}}
                        </p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>{{contactUsInfoArr[0]?.email}}</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>{{contactUsInfoArr[0]?.phone}}</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form  [formGroup]="ContactUsForm"  class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="location" matInput formControlName="name" class="form-control" #name placeholder="name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" matInput formControlName="email" name="email" #email placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" matInput formControlName="phone" name="phone" #phone placeholder="phone" required>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" matInput formControlName="subject" name="subject" #open_Hours placeholder="Subject"required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" matInput formControlName="message" name="message" rows="8" placeholder="Message" required></textarea>
                    </div>
                    <div class="text-center"><button type="submit" (click)="SendContactUs()">Send Message</button></div>
                </form>
                
            </div>

        </div>

    </div>
</section>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>