

@import url('../../../assets/index-share.css');
@import url('../../../assets/c.css');

#topbar{


    position: static;
}
.navbar{

background-color: rgba(12, 11, 9, 0.6);

}
#header{

    position: static;
}